// COLORS
$color-primary: #222725;
$color-primary-light: #222725;
$color-primary-dark: #121113;

$color-secondary-light: #31572c;
$color-secondary-dark: #90a955;

$color-tertiary-light: #31572c;
$color-tertiary-dark: #90a955;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;