.testimonial-container {
  background-color: $color-primary;
  color: #fff;
  border-radius: 1.5rem;
  margin: 2rem auto;
  padding: 5rem 8rem;
  width: 70%;
  position: relative;
  @include respond(tab-port) {
    &.testimonial-container {
      padding: 2rem 5rem;
    }
  }
  @include respond(phone) {
    &.testimonial-container {
      width: 90%;
    }
  }
}

.testimonial {
  line-height: 2.8rem;
  text-align: justify;
  margin-top: 4rem;
  font-size: 1.6rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;

  &-image {
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
    object-fit: cover;
  }
  &-details {
    margin-left: 1rem;
  }
  &-username {
    margin: 0;
    font-size: 1.6rem;
  }
  &-role {
    font-weight: normal;
    font-size: 1.6rem;
  }
}

.progress-bar {
  animation: grow 10000ms linear infinite;
  background-color: #fff;
  height: .4rem;
  width: 100%;
  transform-origin: left;
  @include respond(tab-port) {
    &.progress-bar  {
     margin-top: 3rem;
    }
  }
  @keyframes grow {
    0% {
      transform: scaleX(0);
    }
  }
}
